@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 18px "Poppins", sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
  background: #465F00;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;
}

.button {
  color: #004216;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  border: none;
  background: linear-gradient(180deg, #DEFFC4 0%, #97FF45 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px #54D219, inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
  padding: 11.5px 32px;
}

.title {
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  text-align: center;
  letter-spacing: -0.02em;
  padding: 15px 0;
}

.header {
  background: linear-gradient(180deg, #498103 0%, #A9E646 100%);
  padding: 7px 0;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.025em;
  margin: 0 78px;
}
.header__jackpot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  border: 2px solid #FFE26E;
  padding: 11px 32px 8px 32px;
  margin-right: 78px;
}
.header__amount {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  margin-left: 9px;
}

.promo__wrapper {
  background-image: url("./../images/image-promo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.promo__cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 225px 0 149px 0;
  background: rgba(35, 17, 17, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.promo__button {
  width: 351px;
  height: 77px;
}
.promo__button_white {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  padding: 11.5px 32px;
  margin-bottom: 24px;
}
.promo__button_green {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  border: 2px solid rgba(243, 255, 209, 0.968627451);
  background: #678610;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  padding: 11.5px 32px;
}

.choices__button {
  display: block;
  width: 351px;
  height: 77px;
  color: #004216;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  border: 2px solid rgba(0, 66, 22, 0.6784313725);
  background: linear-gradient(180deg, #DEFFC4 0%, #97FF45 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px #54D219, inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
  padding: 11.5px 32px;
  margin: 34px auto 41px;
}
.choices__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.choices__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(243, 255, 209, 0.968627451);
  padding: 24px 75px 19px;
}
.choices__item_big {
  padding: 21px 74px 19px;
}
.choices__rectangle {
  width: 191.84px;
  height: 85.26px;
  background-color: rgba(79, 106, 0, 0.4705882353);
  margin-bottom: 10px !important;
}
.choices__rectangle_big {
  width: 203.83px;
  height: 90.59px;
  margin-bottom: 6px !important;
}
.choices__count {
  font-size: 16px;
  line-height: 24px;
  color: #654500;
  margin-bottom: 4px;
}
.choices__count_big {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 6px !important;
}
.choices__stars {
  margin-bottom: 16px;
}
.choices__stars_big {
  margin-bottom: 10px !important;
}
.choices__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #004216;
  text-align: center;
  margin-bottom: 32px;
}
.choices__subtitle_big {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 23px !important;
}
.choices__button-item {
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px rgba(114, 255, 48, 0.49), inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
  padding: 13.3px 38.4px;
}
.choices__button-item_big {
  font-size: 22px;
  line-height: 33px;
  border: 1px solid rgba(0, 66, 22, 0.6784313725);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px #327612, inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
  padding: 12.5px 46.5px;
}

.about {
  display: grid;
  grid-template-columns: 506px 635px;
  grid-template-rows: 74px 467px 451px auto;
  grid-template-areas: "raiting raiting" "offers review" "data video" "btn btn";
  gap: 25px 30px;
  margin-top: 25px;
}
.about__raiting {
  grid-area: raiting;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__text, .about__rank {
  letter-spacing: 0.025em;
}
.about__stars {
  padding: 0 15px 0 22px;
}
.about__offers {
  grid-area: offers;
  background-color: rgba(243, 255, 209, 0.968627451);
  padding: 27px 25px;
}
.about__border {
  padding: 5px 19px;
}
.about__title {
  text-align: left;
  font-size: 40px;
  line-height: 60px;
  color: #004216;
  padding: 0 0 23px;
}
.about__title_white {
  line-height: 43px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 0 0 15px;
}
.about__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__item {
  margin-bottom: 27px;
}
.about__review {
  grid-area: review;
  padding: 37px 32px 37px 30px;
}
.about__data {
  grid-area: data;
  padding: 26px 56px;
}
.about__data-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}
.about__name {
  width: 45%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.about__value {
  width: 55%;
  font-size: 18px;
  line-height: 24px;
}
.about__video-block {
  grid-area: video;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: fstretch;
  background-color: rgba(243, 255, 209, 0.968627451);
  padding: 20px 30px 60px;
}
.about__wrapper {
  position: relative;
  margin-top: 20px;
}
.about__video {
  width: 100%;
}
.about__btn-play {
  position: absolute;
  width: 154px;
  height: 154px;
  top: calc(50% - 77px);
  left: calc(50% - 77px);
  background-image: url("./../icons/video-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.about__btn {
  grid-area: btn;
  display: inline-block;
  width: 197px;
  margin: 12px auto 0px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.025em;
}

.border {
  border: 1px solid #FFE26E;
}

.paragraph {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item__rectangle {
  width: 81px;
  height: 52px;
  left: 179px;
  background: rgba(79, 106, 0, 0.4705882353);
}
.item__description {
  margin: 0 30px -6px 22px;
}
.item__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #653B04;
}
.item__count {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #654500;
}
.item__stars {
  display: inline-block;
}
.item__button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.025em;
  padding: 14px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 25px rgba(114, 255, 48, 0.49), inset 0px -4px 10px #00B9F3, inset 0px 4px 10px #0EB500;
}/*# sourceMappingURL=style.css.map */